# {{ ansible_managed }}

source /etc/network/interfaces.d/*

# The loopback newtwork interface
auto lo
iface lo inet loopback

# WAN interface
auto {{wanInterface}}
iface {{wanInterface}} inet dhcp

# DNS Servers
{% for nameServer in dnsNameServers %}
dns-nameserver {{nameServer}}
{% endfor %}

pre-up sleep 2

# LAN interfaces
{% for item in dhcpdConf.subnets %}
auto {{item.interface}}
iface {{item.interface}} inet static
  address {{item.address}}
  network {{item.network}}
  netmask {{item.netmask}}
#  broadcast {{item.broadcast}}
{% endfor %}