SEARCH_RESULT=$(ldapsearch -LLL -Y EXTERNAL -H ldapi:/// -b cn=config "(olcTLSCACertificateFile=*)" dn 2>/dev/null | grep 'dn: cn=config')
if [ -z $SEARCH_RESULT ]; then
  ldapmodify -H ldapi:/// -Y EXTERNAL -f /etc/ldap/enable_TLS.ldif
else
  ldapmodify -H ldapi:/// -Y EXTERNAL -f /etc/ldap/enable_TLS.modify.ldif
fi