{% for item in slapd.sudoers %}
dn: cn={{item.cn}},ou=sudoers,dc={{ldap.org}},dc={{ldap.tld}}
objectClass: sudoRole
objectClass: top
cn: {{item.cn}}
{% for key,value in item.attributes.iteritems() %}
{{key}}: {{value}}
{% endfor %}
{% endfor %}